# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Debug
/x64/Debug
/ALG_Lesson_3.sln
/ALG_Lesson_3.vcxproj
/ALG_Lesson_3.vcxproj.filters
/ALG_Lesson_3.vcxproj.user
